<!-- Validation failure messages -->
<% if @trip.errors.any? %>
  <% @trip.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Trip #<%= @trip.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_trip/<%= @trip.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for category_id -->
      <div class="form-group">
        <label for="category_id" class="control-label">
          Category
        </label>

        <input type="text" id="category_id" name="category_id" placeholder="Category" class="form-control" value="<%= @trip.category_id %>">
      </div>

      <!-- Label and input for activity_id -->
      <div class="form-group">
        <label for="activity_id" class="control-label">
          Activity
        </label>

        <input type="text" id="activity_id" name="activity_id" placeholder="Activity" class="form-control" value="<%= @trip.activity_id %>">
      </div>

      <!-- Label and input for beginning_date -->
      <div class="form-group">
        <label for="beginning_date" class="control-label">
          Beginning date
        </label>

        <input type="text" id="beginning_date" name="beginning_date" placeholder="Beginning date" class="form-control" value="<%= @trip.beginning_date %>">
      </div>

      <!-- Label and input for ending_date -->
      <div class="form-group">
        <label for="ending_date" class="control-label">
          Ending date
        </label>

        <input type="text" id="ending_date" name="ending_date" placeholder="Ending date" class="form-control" value="<%= @trip.ending_date %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @trip.user_id %>">
      </div>

      <button class="btn btn-warning">
        Update Trip
      </button>
      or
      <a href="/trips/<%= @trip.id %>">Cancel</a>
    </form>
  </div>
</div>
