<div class="page-header">
  <h3>Category #<%= @category.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @category.user.present? %>
          <a href="/users/<%= @category.user_id %>">
            <%= @category.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Trip</dt>
      <dd>
        <% if @category.trip.present? %>
          <a href="/trips/<%= @category.trip_id %>">
            <%= @category.trip.length %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/categories" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @category.user %>
        <a href="/categories/<%= @category.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_category/<%= @category.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Category has many activities -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Activities
      </li>

      <% @category.activities.each do |activity| %>
        <li class="list-group-item">
          <a href="/activities/<%= activity.id %>">
            <%= activity.trip_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/activities/<%= activity.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/activities/<%= activity.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_activity/<%= activity.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_activity" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for trip_id -->
      <div class="form-group">
        <label for="trip_id" class="control-label">
          Trip
        </label>

        <%= select_tag(:trip_id, options_from_collection_for_select(Trip.all, :id, :length), :class => "form-control") %>
      </div>

      <!-- Label and input for category_id -->
      <input type="hidden" name="category_id" value="<%= @category.id %>">

      <button class="btn btn-block btn-success">
        Create Activity
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Category has many trips -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Trips
      </li>

      <% @category.trips.each do |trip| %>
        <li class="list-group-item">
          <a href="/trips/<%= trip.id %>">
            <%= trip.length %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/trips/<%= trip.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/trips/<%= trip.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_trip/<%= trip.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
