<div class="page-header">
  <h3>Activity #<%= @activity.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Category</dt>
      <dd><%= @activity.category_id %></dd>

      <dt>Trip</dt>
      <dd><%= @activity.trip_id %></dd>

      <dt>Name</dt>
      <dd><%= @activity.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/activities" class="btn btn-primary">
        Back
      </a>
      <a href="/activities/<%= @activity.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_activity/<%= @activity.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Activity has many trips -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Trips
      </li>

      <% @activity.trips.each do |trip| %>
        <li class="list-group-item">
          <a href="/trips/<%= trip.id %>">
            <%= trip.length %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/trips/<%= trip.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/trips/<%= trip.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_trip/<%= trip.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_trip" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for length -->
      <div class="form-group">
        <label for="length" class="control-label">
          Length
        </label>

        <input type="text" id="length" name="length" placeholder="Length" class="form-control" value="">
      </div>

      <!-- Label and input for category_id -->
      <div class="form-group">
        <label for="category_id" class="control-label">
          Category
        </label>

        <%= select_tag(:category_id, options_from_collection_for_select(Category.all, :id, :user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email), :class => "form-control") %>
      </div>

      <!-- Label and input for activity_id -->
      <input type="hidden" name="activity_id" value="<%= @activity.id %>">

      <button class="btn btn-block btn-success">
        Create Trip
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Activity has many users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Users
      </li>

      <% @activity.users.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
